@import url("style/base.css");

/* si necesitamos agregar otra fuente asegurar que sea en formato woff2, es la mas optimizada */
@font-face {
  font-family: "CoveredByYourGrace";
  src: url("/fonts/CoveredByYourGrace.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}

:root {
  /* Breakpoints */
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1152px;
  --breakpoint-ultrawide: 1280px;

  /* Variables de color */
  --color-beige: #faf5e7;
  --color-green-dark: #578257;
  --color-green-light: #a4d39a;
  --color-green-pale: #d6e899;
  --color-brown: #99733c;
  --color-brown-dark: #3b2c17;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-secondary: #6c757d;

  /* Variables para las fuentes */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "CoveredByYourGrace", sans-serif;
}

body {
  min-height: 100%;
  font-family: var(--font-primary);
  z-index: 100;
}

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* this is a custom container for sections */
.container {
  max-width: 1250px;
  margin: 0 auto;
  width: 90%;
}

/* para testeo */
.border {
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}
